.project {
  padding: 1rem 2rem;
  text-align: center;
  /* box-shadow: var(--shadow); */
  box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s linear;
  display: grid;
  grid-template-columns: 2fr;
  gap: 1rem;
}

.project:hover {
  transform: translateY(-7px);
  transform: rotate(1deg);
}

.project__thumbnail {
  width: 100%;
  aspect-ratio: 4/3;
  border-radius: 3rem;
  object-fit: cover;
}

.project__info {
  display: grid;
  flex-direction: column;
  gap: 1rem;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project__stack-item {
  margin: 0.5rem;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 777px) {
  .project {
    grid-template-columns: 1.3fr 1.5fr;
    align-items: center;
    gap: 2rem;
  }
}
